<div class="interest-index-wrap ten columns">
<h1>All Users</h1>
<% @users.each do |user| %>
  <table>
  <tr>
    <td>
      <div class="circle"><a href="users/<%= user.id %>"><img class="profile" src="<%= user.profile_pic %>"></a></div>
    </td>
    <td>
      <%= link_to "#{user.first_name} #{user.last_name}", user %> - <%= user.email %> (<%= user.age %> years)
    </td>
  </tr>
  </table>
<% end %>
</div>
