<h1><%= @user.first_name %> <%= @user.last_name %></h1>
<img class="profile" src="<%= @user.profile_pic %>" alt="">
<p>Email: <%= @user.email %></p>
<p>Zipcode: <%= @user.zipcode %></p>
<p>Age: <%= @user.age %></p>
<% @user.interests.each do |interest| %>
  <ul>
    <li><%= interest.name %></li>
  </ul>
<% end %>
<%= link_to 'edit account', edit_user_path(@user) %>
<%= link_to 'update interests', select_interests_path %>
<p>remove interests</p>
