<div class="wrapper">
  <div class="profile-wrap twelve columns">
    <h1><%= @user.first_name %> <%= @user.last_name %></h1>
    <div class="profile-img-wrap twelve columns"><div class="circle"><img class="profile" src="<%= @user.profile_pic %>" alt=""></div></div>
    <div class="wrap-info ten columns">
    <h4>About Me:</h4>
    <p><%= @user.about %></p>
    <p>Email: <%= @user.email %></p>
    <p>Zipcode: <%= @user.zipcode %></p>
    <p>Age: <%= @user.age %></p>
    <h4>Current Interests:</h4>
    <% @user.interests.each do |interest| %>
      <ul>
        <li><%= interest.name %></li>
      </ul>
    <% end %>


    <% if @user.id == current_user.id %>
      <%= link_to 'edit account', edit_user_path(@user) %>
      <%= link_to 'update interests', select_interests_path %>
      <%= link_to 'request meetup', new_request_path %>
    <% end %>
  </div>
  </div>
</div>
