<h1><%= @venue["name"] %></h1>
<img class="location-image" src="<%= @photo_url %>">
<p>Address: <%= @venue["location"]["address"] %> <%= @venue["location"]["city"] %>, <%= @venue["location"]["state"] %></p>
<p>Phone: <%= @venue["contact"]["formattedPhone"] %></p>
<p>Rating: <%= @venue["rating"] %></p>
<p>Tips:
  <ul>
    <li><%= @tips[0]["text"] %></li>
    <li><%= @tips[1]["text"] %></li>
    <li><%= @tips[2]["text"] %></li>
    <li><%= @tips[3]["text"] %></li>
  </ul>
</p>
<p><a href="<%= @venue["canonicalUrl"] %>" target="_blank">More Info</a></p>
<img src="<%= @google_map %>">
