<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Coffee Talk</title>

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "vendor/modernizr" %>
  <%= csrf_meta_tags %>

  <link rel="stylesheet" href="application.css">
</head>

<body>

  <div class="row">
    <div class="small-8 columns logo-img">
      <a href="<%= root_path %>"><%= image_tag 'logo.png' %></a>
    </div>
  </div> <!-- END LOGO ROW -->
</body>



<body class="homepage sixteen columns">
  <div class="container">
    <div class="header sixteen columns">
      <div class="logo-img fourteen columns"><a href="<%= root_path %>"><img class="logo" src="http://i.imgur.com/XWnbmbg.png" width="200"></a></div>
      <nav class="fourteen columns">
        <div class="top-menu-login">
          <% if current_user  %>
            <%= link_to "logout", logout_path, class: "nav-link-login" %>
            <%= link_to "edit", edit_user_path(current_user.id), controller: 'users', class: "nav-link-login" %>
            <% if current_user.admin %>
              <%= link_to "users", users_path, class: "nav-link-login" %> <%= link_to "interests", interests_path, class: "nav-link-login" %>
              <%= link_to "requests", requests_path, class: "nav-link-login" %>
              <%= link_to "meetups", meetings_path, class: "nav-link-login" %>
        </div>
            <% end %>
          <% else %>
        <div class="top-menu">
            <%= link_to "about", about_path, class: "nav-link" %>
            <%= link_to "sign up", new_user_path, controller: 'users', class: "nav-link" %>
            <%= link_to "login", login_path, class: "nav-link" %>
        </div>
          <% end %>
        </div> <!-- END TOP MENU -->
      </nav>
    </div> <!-- END HEADER -->

  <%= yield %>
  <%= javascript_include_tag "application" %>

  </div> <!-- END CONTAINER -->
</body>
</html>
