<!DOCTYPE html>
<html>
<head>
  <title>Coffee Talk</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="skeleton.css">
  <link rel="stylesheet" href="application.css">
</head>
<body class="homepage sixteen columns">
  <div class="container">
    <div class="header sixteen columns">
      <div class="logo-img fourteen columns"><a href="<%= root_path %>"><img class="logo" src="http://i.imgur.com/XWnbmbg.png" width="200"></a></div>
      <nav class="fourteen columns">
        <div class="top-menu-login">
          <% if current_user  %>
            <%= link_to "logout", logout_path, class: "nav-link-login" %>
            <%= link_to "edit", edit_user_path(current_user.id), controller: 'users', class: "nav-link-login" %>
            <% if current_user.admin %>
              <%= link_to "users", users_path, class: "nav-link-login" %> <%= link_to "interests", interests_path, class: "nav-link-login" %>
              <%= link_to "requests", requests_path, class: "nav-link-login" %>
              <%= link_to "meetups", meetings_path, class: "nav-link-login" %>
        </div>
            <% end %>
          <% else %>
        <div class="top-menu">
            <%= link_to "about", about_path, class: "nav-link" %>
            <%= link_to "sign up", new_user_path, controller: 'users', class: "nav-link" %>
            <%= link_to "login", login_path, class: "nav-link" %>
        </div>
          <% end %>
        </div> <!-- END TOP MENU -->
      </nav>
    </div> <!-- END HEADER -->

  <%= yield %>

  </div> <!-- END CONTAINER -->
</body>
</html>
